<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div class="login-container" th:fragment="login">
    <style>
    .error-message {
        color : red;
    }
    </style>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <div class="page-title">로그인</div>
    <div class="login-form">
        <form role="form" action="/login" th:object="${loginForm}" method="post">
            <!-- 에러 메시지 출력 -->
            <p th:if="${errorMessage != null}" class="error-message" th:text="${errorMessage}"></p>
            <div class="input-group">
                <label class="input-label">아이디</label><br>
                <input type="text" th:field="*{username}" placeholder="아이디를 입력해주세요"
                       th:class="${#fields.hasErrors('username')}?'fieldError':''">
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message">Incorrect</p>
            </div>
            <div class="input-group">
                <label class="input-label">비밀번호</label><br>
                <input type="password" th:field="*{password}" placeholder="비밀번호를 입력해주세요"
                       th:class="${#fields.hasErrors('password')}?'fieldError':''">
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message">Incorrect</p>
            </div>
            <button type="submit" class="submit-button">로그인</button>
        </form>
        <p class="join-message">헬스로운 평화마을이 처음이신가요? <a href="/signup">가입하기</a></p>
    </div>
</div>
</body>
</html>