<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>

<body>
<div class="signup-container">
    <div class="page-title">회원가입</div>
    <div class="signup-form">
        <form role="form" action="/signup/pro" th:object="${signupForm}" method="post"
              onsubmit="return validateForm();">
            <div class="input-group">
                <label class="input-label">아이디</label><br>
                <input type="text" th:field="*{username}" placeholder="아이디를 입력해주세요" required>
            </div>
            <div class="input-group">
                <label class="input-label">비밀번호</label><br>
                <input type="password" id="userPw" th:field="*{password}" placeholder="비밀번호를 입력해주세요" required>
            </div>
            <div class="input-group">
                <label class="input-label">비밀번호 확인</label><br>
                <input type="password" id="userPwCheck" name="userPwCheck" placeholder="비밀번호를 다시 입력해주세요" required>
            </div>
            <div class="input-group">
                <label class="input-label">이름</label><br>
                <input type="text" th:field="*{name}" placeholder="이름을 입력해주세요" required>
            </div>
            <div class="input-group">
                <label class="input-label">전화번호</label><br>
                <input type="text" th:field="*{phoneNumber}" placeholder="전화번호를 입력해주세요" required>
            </div>
            <div class="input-group">
                <label class="input-label">이메일</label><br>
                <input type="email" th:field="*{email}" placeholder="메일주소를 입력해주세요" required>
            </div>
            <button type="submit" class="submit-button">가입하기</button>
        </form>
    </div>
</div>

</body>

<script th:inline="javascript">
	function validateForm() {
		// 비밀번호 필드와 비밀번호 확인 필드의 값을 가져옴
		var userPw = document.getElementById("userPw").value;
		var userPwCheck = document.getElementById("userPwCheck").value;

		// 비밀번호와 비밀번호 확인 필드의 값이 다를 경우 경고 메시지 표시
		if (userPw !== userPwCheck) {
			alert("비밀번호를 다시 확인해주세요");
			return false;
		}

		return true;
	}
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var signupSuccess = /*[[${signupSuccess}]]*/ false;

    if (signupSuccess) {
        alert("회원가입을 축하합니다!");
        window.location.href = "/";
    }
    /*]]>*/
</script>

</html>