<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>헬스로운 평화나라</title>
</head>

<script th:src="@{/js/loginmodal.js}"></script>
<link rel="stylesheet" th:href="@{/css/myinfo.css}">
<link rel="stylesheet" th:href="@{/css/mypagesidebar.css}">

<body>
<div th:replace="fragments/loadingmodal :: loading-modal"></div>
<div class="body-container">
    <div th:include="fragments/mypagesidebar :: mypagesidebar" class="side-bar"/>
    <div class="body-content">
        <p class="content-head">회원정보 수정</p>
        <hr>
        <div class="withdraw-group">
            <form action="/my/info/withdraw" method="post" onsubmit="return confirm('정말 탈퇴하시겠습니까? 삭제된 데이터는 복구되지 않습니다.');">
                <input type="hidden" name="id" th:value="${informationForm.id}"/>
                <div class="withdraw-group">
                    <span>탈퇴를 원하시면 우측의 회원탈퇴 버튼을 눌러주세요.</span>
                    <button type="submit" class="withdraw-btn">회원탈퇴</button>
                </div>
            </form>
        </div>
        <div class="information-container">
            <form role="form" action="/my/info/modify" th:object="${informationForm}" method="post" id="modifyForm" onsubmit="return validateForm();">
                <div class="input-group">
                    <table>
                        <input type="hidden" th:field="*{id}" th:value="${id}" />
                        <tr>
                            <th>가입일</th>
                            <td class="disable-input">
                                <input type="text" th:field="*{registrationDate}" th:text="${registrationDate}" class="info-input" disabled>
                            </td>
                        </tr>
                        <tr>
                            <th>아이디</th>
                            <td class="disable-input">
                                <input type="text" th:field="*{username}" th:text="${username}" readonly disabled>
                            </td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <td class="disable-input">
                                <input type="text" th:field="*{name}" th:text="${name}" readonly disabled>
                            </td>
                        </tr>
                        <tr>
                            <th>수정할 비밀번호</th>
                            <td>
                                <input type="password" th:field="*{password}" id="password" required>
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호 다시 입력</th>
                            <td>
                                <input type="password" id="passwordCheck" required>
                            </td>
                        </tr>
                        <tr>
                            <th>휴대폰 번호</th>
                            <td>
                                <input type="text" th:field="*{phoneNumber}" th:text="${phoneNumber}" required>
                            </td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td>
                                <input type="text" th:field="*{email}" value="informationForm.email" required>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modify-btn-container">
                    <button type="submit" class="modify-btn">수정 완료</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
function validateForm() {
    // 비밀번호 필드와 비밀번호 확인 필드의 값을 가져옴
    var password = document.getElementById("password").value;
    var passwordCheck = document.getElementById("passwordCheck").value;

    // 비밀번호와 비밀번호 확인 필드의 값이 다를 경우 경고 메시지 표시
    if (password !== passwordCheck) {
        alert("비밀번호를 다시 확인해주세요");
        return false;
    } else {
        return true;
    }
}
</script>
</body>
    <footer th:replace="fragments/footer :: footer"></footer>
</html>