<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
</head>
<link rel="stylesheet" th:href="@{/css/productlist.css}">

<body>
<header>
    <!-- 로딩모달, 사이드바 -->
</header>

<div class="goods-list-container">
    <p class="goods-list-label">상품 관리 - 목록</p>

    <!-- Add options for Item and Ticket -->
    <select id="categorySelector">
        <option value="item" th:selected="${currentCategory == 'item'}">헬창용품</option>
        <option value="ticket" th:selected="${currentCategory == 'ticket'}">PT서비스</option>
    </select>

    <a href="/admin/products/new" class="add-goods-button">상품 등록</a>
    <div class="goods-table">
        <table>
            <thead>
                <tr>
                    <th>순번</th>
                    <th>대표이미지</th>
                    <th>상품번호</th>
                    <th>제품명</th>
                    <th>가격</th>
                    <th>재고</th>
                    <th>점수</th>
                    <th>누적 판매량</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product, stat : ${productList}">
                    <td th:text="${stat.count}"></td>
                    <td>
                        <a th:href="@{'/admin/products/detail/' + ${product.id} + '?category=' + ${currentCategory}}">
                            <img th:src="@{'/' + ${product.thumbnail}}" alt="상품 이미지"
                                 class="goods-thumbnail">
                        </a>
                    </td>
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td></td>
    <!--                <td th:if="${product.category == 'item'}" th:text="${(product.stock != null) ? product.stock : ''}"></td>-->
    <!--                <td th:if="${product.category == 'ticket'}" th:text="${(product.remainingUses != null) ? product.remainingUses : ''}"></td>-->
                    <td th:text="${product.rating}"></td> <!-- 점수 -->
                    <td th:text="${product.sales}"></td> <!-- 누적 판매량 -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <a th:href="@{/admin/products/product-list(page=${currentPage-1}, category=${category})}" th:unless="${currentPage == 0}">Previous</a>
        <span th:text="${currentPage + 1}">1</span>
        <a th:href="@{/admin/products/product-list(page=${currentPage+1}, category=${category})}">Next</a>
    </div>
</div>

<!-- If not admin -->
<!--<div th:unless="${loginId == 'admin'}">-->
<!--    <script>-->
<!--			alert("관리자만 이용할 수 있습니다!");-->
<!--			history.back();-->
<!--		</script>-->
<!--</div>-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const categorySelector = document.querySelector('#categorySelector');

        categorySelector.addEventListener('change', function() {
            const selectedCategory = this.value;
            const currentPage = 0; // initial page
            window.location.href = `/admin/products/product-list?page=${currentPage}&category=${selectedCategory}`;
        });
    });
</script>

</body>
</html>