<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 상세</title>
</head>
<link rel="stylesheet" th:href="@{/css/productdetail.css}">
<body>
<header>
    <!-- 로딩모달, 사이드바 -->
</header>

<div class="goods-detail-container">
    <a href="/admin/products/product-list" class="btn-back"> &lt; 뒤로가기 </a>
    <p class="goods-detail-label">상품 관리 - 상세정보</p>
    <div class="goods-top-section">

        <div class="goods-top-section-first">
            <div class="goods-thumbnail" th:style="'background-image: url(' + @{'/' + ${product.thumbnail}} + ')'"></div>
        </div>

        <div class="goods-top-section-second">

            <div class="goods-name" th:text="${product.name}">
            </div>

            <div class="goods-detail-rating">
                <span th:each="i : ${#numbers.sequence(1, fullStarCount)}" th:if="${fullStarCount > 0}">
                    <img class="goods-detail-rating-star" src="/images/rating-full.png" alt="별점">
                </span>
                <img th:if="${hasHalfStar}" class="goods-detail-rating-star" src="/images/rating-half.png" alt="별점">
                <span th:each="i : ${#numbers.sequence(1, emptyStarCount)}">
                    <img class="goods-detail-rating-star" src="/images/rating-empty.png" alt="별점">
                </span>

                <span class="goods-detail-rating-score">
                    <span th:text="${#numbers.formatDecimal(product.rating, 1, 1)}"></span>
                </span>
            </div>
            <span class="current-stock-label" th:text="${currentCategory == 'item' ? '재고:' : '기본 이용 횟수:'}"></span>
            <span th:text="${product.inventory}" class="current-stock"></span>
            <span th:text="${currentCategory == 'item' ? '개' : '회'}"></span>
        </div>
        <div class="goods-top-section-third">
            <div class="modify-menu-container">
                <div th:if="${currentCategory == 'item'}">
                    <label class="quantity-label">재고 설정</label>
                    <form id="stock-form" th:object="${product}" th:action="@{/admin/products/adjust-stock}" method="post">
                        <input type="hidden"  th:field="*{id}" value="${product.id}">
                        <input type="number" class="quantity-input" min="0" name="quantity" value="1">
                        <button type="submit" class="add-to-cart-button" name="action" value="increase">재고 추가</button>
                    </form>
                </div>
                <div th:if="${currentCategory == 'ticket'}">
                    <label class="quantity-label">기본 이용 횟수 변경</label>
                    <form id="stock-form" th:object="${product}" th:action="@{/admin/products/adjust-remaining-uses}" method="post">
                        <input type="hidden" th:field="*{id}" value="${product.id}">
                        <input type="number" class="quantity-input" min="1" name="quantity" value="1">
                        <button type="submit" class="add-to-cart-button" name="action" value="increase">횟수 변경</button>
                    </form>
                </div>
                <a href="#" class="modify-button">상품 정보 수정</a>
                <button type="button" class="delete-button" th:onclick="'deleteProduct(' + ${product.id} + ');'">상품 제거</button>
            </div>
        </div>
    </div>
    <div class="goods-bottom-section">
        <hr>
        <div class="goods-bottom-section-label">제품 설명</div>
        <div class="goods-description"><pre th:text="${product.description}"></pre></div>
    </div>
</div>
</body>

<script>

function deleteProduct(productId) {
    var result = confirm("삭제된 데이터는 복원할 수 없습니다. 정말 삭제하시겠습니까?");
    if (result) {
        fetch('/admin/products/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({id: productId})
        }).then(response => {
            if (response.ok) {
                alert('상품이 삭제되었습니다.');
                location.href = '/admin/products/product-list';
            } else {
                alert('상품 삭제에 실패했습니다. 잠시 후 다시 시도해주세요.');
            }
        });
    }
}
</script>
</html>