<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="header">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <div class="footer-container">
        <div class="left-section">
            <a href="/"><img th:src="@{/images/logo_white.png}" alt="로고" class="footer-banner"></a>
        </div>
        <div class="right-section">
            <p class="inform-head">헬스로운 평화나라</p>
            <p>대표자: 임건재</p>
            <p>주소: 서울특별시 강남구 삼성로 1234번길 56</p>
            <p>사업자등록번호: 123-45-67890</p>
            <p>전화번호: 010-3181-8519</p>
            <p>이메일: [willneimann@gmail.com](mailto:willneimann@gmail.com)</p>
            <p>COPYRIGHT © 2023 MY COMPANY. ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</footer>
</html>