<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="mypagesidebar">
    <div class="mypage-sidebar">
        <div class="mypage-title">
            <p>마이페이지</p>
        </div>
        <div class="menu-group">
            <li class="first-li">쇼핑</li>
            <ul>
                <li><a href="/my/orders" class="menu-my-order">주문 내역</a></li>
                <li><a href="/my/cart" class="menu-my-Cart">장바구니</a></li>
                <li><a href="/my/reviews" class="menu-my-review">나의 리뷰</a></li>
            </ul>
        </div>
        <hr class="sidebar-hr">
        <div class="menu-group">
            <li>예약</li>
            <ul>
                <li><a href="/my/tickets" class="menu-my-tickets">나의 이용권</a></li>
                <li><a href="/my/reservations" class="menu-my-reservation">예약 내역</a></li>
            </ul>
        </div>
        <hr class="sidebar-hr">
        <div class="menu-group">
            <li><a href="/my/questions" class="menu-my-question-list">나의 문의</a></li>
        </div>
        <hr class="sidebar-hr">
        <div class="menu-group">
            <li><a href="/my/info" class="menu-modify-information">회원정보</a></li>
        </div>
    </div>
</div>
</html>