body {
	background-color: #e6e6e6;
	height: 100%;
}

.side-bar {
	width: 150px;
}

.body-container {
	display: flex;
	max-width: 1000px;
	min-height: 800px;
	background-color: #fff;
	margin: 0 auto;
	height: 100%;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.body-content {
	border-left: 1px solid #ddd;
	padding: 20px;
}

.content-head {
	font-weight: bold;
}

.menu-modify-information {
	color: #5F32FF;
	font-weight: bold;
}

.input-group {
	font-size: 14px;
}

.disable-input {
	background-color: rgb(0, 0, 0, 0.04);
}

th {
	min-width: 150px;
	height: 60px;
	background-color: #f1f8ff;
	font-weight: bold;
	text-align: left;
	padding-left: 15px;
}

td {
	padding-left: 15px;
	width: 550px;
	background-color: rgb(0, 0, 0, 0.02);
}

input {
	border:none;
	outline:none;
	background-color:transparent;
	box-shadow:none;
}

.withdraw-group {
	margin-top: 5px;
	font-size: 12px;
	color: gray;
	text-align: right;
}

.withdraw-btn {
    border: none;
	padding: 3px 6px;
	border-radius: 5px;
	background-color: darkgray;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.modify-btn {
	margin-top: 15px;
	text-align: center;
	padding: 5px 10px;
	cursor: pointer;
}