body {
	background-color: #e6e6e6;
	height: 100%;
}

.side-bar {
	width: 150px;
}

.body-container {
	display: flex;
	max-width: 1000px;
	min-height: 800px;
	background-color: #fff;
	margin: 0 auto;
	height: 100%;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.body-content {
	width: 800px;
	border-left: 1px solid #ddd;
	padding: 20px;
}

.content-head {
	font-weight: bold;
}

.menu-my-Cart {
	color: #5F32FF;
	font-weight: bold;
}

table {
	width: 100%;
	margin: 15px auto;
	max-width: 100%;
	border-collapse: separate;
	overflow: hidden;
	text-align: center;
}

.cart-thumbnail {
	display: inline-block;
	width: 80px;
	height: 80px;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.quantity-input-field {
	width: 40px;
	text-align: center;
}

.update-to-cart-button {
	font-size: 12px;
	cursot: pointer;
}

.cart-delete-button {
	text-decoration: none;
	color: orange;
}

.calculator-container {
	text-align: right;
}

.total-price-label {
	font-size: 20px;
}

.total-price {
	margin-right: 50px;
	font-size: 24px;
	color: #5F32FF;
	font-weight: bold;
}

.order-button {
	margin-top: 40px;
	text-align: center;
}

.order-cart-button {
	border: none;
	border-radius: 25px;
	width: 150px;
	height: 45px;
	background-color: #5F32FF;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	margin-bottom: 100px;
}

.order-cart-button-soldout {
	border: none;
	border-radius: 25px;
	width: 150px;
	height: 45px;
	background-color: #ddd;
	color: #fff;
	font-size: 18px;
	margin-bottom: 100px;
}