<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>헬스로운 평화나라</title>
</head>

<script th:src="@{/js/loginmodal.js}"></script>
<link rel="stylesheet" th:href="@{/css/home.css}">

<body>
<div class="body-container-1">
    <div class="body-1-title">아직도 나의 루틴을 못찾았나요? 🤔</div>
    <iframe width=800 height=400
            src="https://www.youtube.com/embed/EyHo-C6STPk" title="풀리지 않는 논쟁"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
</div>
<div class="body-container-text">
    <div class="body-3-title">HEALTHFUL LIFE</div>
    <div class="body-3-content">
        압구정, 교대, 신논현, 선릉, 양재에서 다양한 프로그램과 편리한 시설을 자랑하는<br>
        한국 최고의 럭셔리 퍼블릭 피트니스 클럽을 만나보세요.
    </div>
</div>
<div class="body-container-logo">
    <div class="body-logo-component">
        <img src="images/logo_theme.png" alt="로고" class="body-logo">
    </div>
</div>
<div class="body-container-text">
    <div class="body-3-title">FACILITY</div>
    <div class="body-3-content">
        각각의 고객의 높은 취향과 건강하고 즐거운 삶을 위해 최적화된 공간 디자인.<br>
        품격과 운동, 휴식을 모두 갖춘 도심 속 재충전의 모든 기반을 제공합니다.<br>
        첨단 기능을 갖춘 세계적인 이탈리아 테크노짐사를 비롯한<br>
        60여 대의 머신과 장비를 통해 효과적인 운동법을 제안합니다.
    </div>
</div>
<img src="images/facility.png" alt="시설" class="facility">
<div class="body-container-text">
    <div class="body-3-title">3S SYSTEM</div>
    <div class="body-3-content">
        헬스로운 평화마을은 첫 운동 입문부터 회원권 종료시까지 회원님의 건강과 아름다움을 위해 운동방법을 제시하는 것은 물론, 지속적으로 지도와 상담 등을 통해 회원님의 피트니스 목표를 달성할 수 있도록 최선을 다합니다.
    </div>
</div>
<img src="images/3ssystem.png" alt="3s system" class="3ssystem">
<div class="body-container-text-small">
    <div class="body-3-title">대표 헬창 소개</div>
</div>
<div class="trainers-iamges">
    <div class="trainer">
        <a href="ticketDetail.jsp?ticketType=minji"
           class="trainer">
            <img src="trainersImages/trainer1.png" alt="트레이너">
            <span><b>정민지</b> 대표이사</span>
        </a>
    </div>
    <div class="trainer">
        <a href="ticketDetail.jsp?ticketType=yoonji"
           class="trainer">
            <img src="trainersImages/trainer2.png" alt="트레이너">
            <span><b>최윤지</b> 선수</span>
        </a>
    </div>
    <div class="trainer">
        <a href="ticketDetail.jsp?ticketType=gwangpal"
           class="trainer">
            <img src="trainersImages/trainer3.png" alt="트레이너">
            <span><b>마광팔</b> 선수</span>
        </a>
    </div>
</div>
<div class="trainer-nav-contianer">
    <button class="trainer-nav-btn" onclick="window.location.href='tickets.jsp'">퍼스널 트레이닝 더보기 👀</button>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var signupSuccess = /*[[${signupSuccess}]]*/ false;

    if (signupSuccess) {
        alert("회원가입을 축하합니다!");
    }
    /*]]>*/

    /*<![CDATA[*/
    var message = /*[[${message}]]*/ 'default';

    if (message !== 'default' && message !== null) {
        alert(message);
    }
    /*]]>*/
</script>
</script>

</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>
