<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>헬스로운 평화나라</title>
</head>

<script th:src="@{/js/loginmodal.js}"></script>
<link rel="stylesheet" th:href="@{/css/shopdetail.css}" >

<body>
<div th:replace="fragments/loadingmodal :: loading-modal"></div>
<div class="body-container">
    <p class="body-label">메인 > 헬창쇼핑 > 제품 상세</p>
<!--    상단 섹션 : 썸네일, 상품 설명, 구매옵션의 세 가지 세부 섹션으로 나뉨-->
    <div class="goods-top-section">
<!--        첫번째 섹션 : 썸네일-->
        <div class="goods-top-section-first">
            <div class="goods-thumbnail"
                 th:style="'background-image: url(' + @{'/' + ${item.thumbnail}} + ')'">
            </div>
        </div>

        <div class="goods-top-section-second">
            <div class="goods-name" th:text="${item.name}"></div>
            <div class="goods-detail-rating">
                    <span th:each="i : ${#numbers.sequence(1, fullStarCount)}" th:if="${fullStarCount > 0}">
                        <img class="goods-detail-rating-star" src="/images/rating-full.png" alt="별점">
                    </span>
                <img th:if="${hasHalfStar}" class="goods-detail-rating-star" src="/images/rating-half.png" alt="별점">
<!--                <span th:each="i : ${#numbers.sequence(1, emptyStarCount)}">-->
<!--                        <img class="goods-detail-rating-star" src="/images/rating-empty.png" alt="별점">-->
<!--                </span>-->
                <span th:if="${emptyStarCount == 0}" class="goods-detail-rating-score">
                        <span th:text="${#numbers.formatDecimal(item.rating, 1, 1)}"></span>
                </span>
            </div>
<!--            <span class="current-stock-label" th:text="재고"></span>-->
<!--            <span th:text="${item.inventory}" class="current-stock"></span>-->
<!--            <span th:text="개"></span>-->
        </div>

        <!-- 본문 섹션 -->
        <div class="goods-top-section-third">
            <div class="order-menu-container">
                <label th:if="${item.inventory < 1}" label class="quantity-label-soldout">일시 품절 상태입니다</label>
                <label th:if="${item.inventory >= 1}" class="quantity-label">주문 수량</label>
                <form th:action="@{'/shopping/add-cart/' + ${item.id}}" method="post">
                    <div class="quantity-input">
                        <input type="number" name="quantity" class="quantity-input-field"
                               min="1" max="${item.inventory}" value="1">
                    </div>
                    <button type="submit" class="add-to-cart-button">장바구니에 담기</button>
                </form>
                <span th:text="${cartMessage} ? ${cartMessage} : ''" class="cart-message"></span>

                <a th:href="'/shopping/order/' + ${item.id}" class="order-button">주문하기</a>
                <button type="button" class="copy-link-button" onclick="copyToClipboard()">상품 링크 복사</button>
            </div>
        </div>
    </div>
    <div class="goods-bottom-section">
        <hr>
        <div class="section-label">상품 설명</div>
        <div th:if="${item.image1 != 'images/No-Image-Placeholder.png'}" class="goods-thumbnail"
             th:style="'background-image: url(' + @{'/' + ${item.image1}} + ')'">
        </div>
        <div th:if="${item.image2 != 'images/No-Image-Placeholder.png'}" class="goods-thumbnail"
             th:style="'background-image: url(' + @{'/' + ${item.image2}} + ')'">
        </div>
        <div class="goods-description" th:text="${item.description}"></div>
    </div>
    <hr>

    <!-- TODO 리뷰 섹션 -->
    <div class="review-section">
        <div class="section-label">상품 리뷰</div>
        <div class="review-container">
            <!-- TODO 최근 리뷰 노출 -->
            <div id="recentReviews">
                <div class="review-item">
                    <div class="review-header">
                        <div class="review-writer">리뷰 작성자 자리</div>
                        <div class="review-rating">
                            <!-- TODO 주문 상품의 별점 숫자만큼 each로 반영 -->
                            <img class="review-rating-star" src="images/rating-full.png"
                                 alt="별점 이미지">
                        </div>
                    </div>
                    <div class="review-body">
                        <div class="review-content">리뷰 본문 자리</div>
                        <div class="review-date">리뷰 작성일 자리(년 월 일)</div>
                    </div>
                </div>
            </div>
            <!-- TODO 모든 리뷰, 기본적으로 안보이다가 버튼 클릭 시 최근 리뷰와 교체 -->
            <div id="allReviews" style="display: none;">
                <div class="review-item">
                    <div class="review-header">
                        <div class="review-writer"><%=review.getUserId()%></div>
                        <div class="review-rating">
                            <!-- TODO 주문 상품의 별점 숫자만큼 each로 반영 -->
                            <img class="review-rating-star" src="images/rating-full.png"
                                 alt="별점 이미지">
                        </div>
                    </div>
                    <div class="review-body">
                        <div class="review-content">리뷰 본문 자리</div>
                        <div class="review-date">리뷰 작성일 자리(년 월 일)</div>
                    </div>
                </div>
            </div>
            <!-- TODO 전체 리뷰 수가 3개 이상일 경우에만 전체보기 버튼 활성화 -->
            <div class="toggle-reviews-button-container">
                <button id="toggleReviewsBtn" onclick="toggleReviews()">모든 리뷰 보기</button>
            </div>
        </div>
    </div>
    <div class="question-section">
        <div class="section-label">상품 문의</div>
        <div class="question-container">
            <!-- TODO 등록된 문의가 없을 경우 처리-->
            <div class="no-question">
                <div class="no-question-message">등록된 문의가 없습니다.</div>
                <div class="new-question-component">
                    <button class="new-question-btn">문의글 남기기</button>
                    <button type="button" class="question-cancel-btn" style="display: none">작성 취소</button>
                </div>
            </div>
            <!-- TODO 문의글 남기기 폼 -->
            <div class="question-form">
                <form method="post" action="/member/question/new">
                    <div class="question-title-input">
                        <input type="text" name="title" placeholder="제목을 입력해주세요">
                    </div>
                    <div class="question-content-input">
                        <textarea name="content" placeholder="문의하실 내용을 입력해주세요"></textarea>
                    </div>
                    <input type="hidden" name="category" value="shopping">
                    <input type="hidden" name="goodsId" value="<%= goodsId %>">
                    <div class="question-write-btn">
                        <button type="submit">작성완료</button>
                    </div>
                </form>
            </div>
            <!-- TODO 등록된 문의가 있을 경우 문의 리스트 보여주기 -->
            <div class="question-list">
                <div class="question-component">
                    <div class="question-index">
                        <p>구매한 상품의 <b>취소/반품은 마이페이지 주문내역</b>에서 신청 가능합니다.</p>
                        <p>상품문의 및 리뷰를 통해 취소나 환불, 반품 등은 처리되지 않습니다.</p>
                        <p><b>가격, 판매자, 교환/환불 및 배송 등 해당 상품 자체와 관련 없는 문의는 고객센터 내 1:1 문의하기</b>를 이용해주세요.</p>
                        <p><b>"해당 상품 자체"와 관계없는 글, 양도, 광고성, 욕설, 비방, 도배 등의 글은 예고 없이 이동, 노출제한, 삭제 등의 조치가 취해질 수 있습니다.</b></p>
                        <p>공개 게시판이므로 전화번호, 메일 주소 등 고객님의 소중한 개인정보는 절대 남기지 말아주세요.</p>
                        <hr>
                    </div>
                    <!-- TODO th:each로 문의 5개씩 보여주기, 페이징 처리를 할지 말지는 옵션 -->
                    <div class="question-item">
                        <div class="question-item-header">
                            <div>
                                <span class="question-item-header-username">작성자의 username</span>
                                <span class="question-item-header-title">해당 문의 제목</span>
                                <!-- TODO 관리자이거나 작성자 본인일 경우 삭제 버튼 추가 -->
                                <form method="post" action="문의 삭제 API 주소">
                                    <input type="hidden" name="recentPage" value="해당 문의의 id값">
                                    <input type="submit" value="삭제" class="question-delete-btn">
                                </form>
                                <span class="question-item-header-date">작성 시간(년 월 일)</span>
                            </div>
                        </div>
                        <div class="question-item-content">
                            문의글 본문 자리
                        </div>
                        <!-- TODO 관리자 답변 여부 체크하는 로직 -->
                        <div class="question-item-reply">
                            <div class="question-item-reply-title">관리자 답변 / <span>답변 시간(년 월 일 시 분 초)</span></div>
                            답변 본문
                        </div>
                        <!-- TODO 접속 계정이 관리자이고 답변이 안달린 글에만 '답변하기' 버튼 추가 -->
                        <div class="reply-btn-component">
                            <button id="replyButton_i값" onclick="showReplyForm(i값)" class="reply-btn">답변하기</button>
                        </div>
                        <div id="replyForm_i값" style="display:none;">
                            <form id="answerForm" action="답변 달기 API 주소" method="post">
                                <input type="hidden" name="goodsId" value="상품 id">
                                <textarea class="reply-textarea" id="replyContent" name="reply" rows="4" cols="50" placeholder="답변 내용을 입력하세요." required></textarea>
                                <input type="submit" value="답변완료" class="answer-submit-btn">
                            </form>
                        </div>
                    </div>
                    <!-- TODO 로그인 상태에서 문의글 남기기 -->
                    <div class="exist-question">
                        <div class="new-question-component">
                            <!-- TODO 로그인 세션이 유효할 때에만 노출 -->
                            <button class="new-question-btn">문의글 남기기</button>
                            <button type="button" class="question-cancel-btn" style="display: none">작성 취소</button>
                        </div>
                    </div>
                    <div class="question-form">
                        <form method="post" action="questionPro.jsp">
                            <div class="question-title-input">
                                <input type="text" name="title" placeholder="제목을 입력해주세요" required>
                            </div>
                            <div class="question-content-input">
                                <textarea name="content" placeholder="문의하실 내용을 입력해주세요" required></textarea>
                            </div>
                            <input type="hidden" name="category" value="shopping">
                            <input type="hidden" name="goodsId" value="<%= goodsId %>">
                            <div class="question-write-btn">
                                <button type="submit">작성완료</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/shopdetail.js}"></script>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>cczc