<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>헬스로운 평화나라</title>
</head>

<script th:src="@{/js/loginmodal.js}"></script>
<link rel="stylesheet" th:href="@{/css/shop.css}">

<body>
<div class="body-container">
    <p class="body-label">메인 > 헬창쇼핑</p>
    <div class="goods-label-container">
        <div class="goods-label-header">체고급 헬창용품 🛒</div>
        <div class="goods-label-body">
            초절정 스미스 머신과 가슴 이두근 고립 웨이트 하세요<br>
            근손실 방지를 최대의 가치로 삼습니다.
        </div>
    </div>
    <div class="goods-container">
        <div class="goods-item" th:each="item : ${itemList}">

<!--            <a th:href="@{'/admin/products/detail/' + ${product.id} + '?category=' + ${currentCategory}}">-->
<!--                <img th:src="'/' + ${product.thumbnail}" alt="상품 이미지"-->
<!--                     class="goods-thumbnail">-->
<!--            </a>-->
            <a th:href="@{'/shopping/detail/' + ${item.id}}" class="goods-item-info">
                <div class="goods-thumbnail" th:style="'background-image: url(' + @{'/' + ${item.thumbnail}} + ')'"></div>
                <div class="goods-name" th:text="${item.name}"></div>
            </a>
            <div class="goods-price" th:text="${numberFormat.format(item.price)} + '원'"></div>

            <div class="soldout" th:if="${item.inventory == 0}">일시품절</div>
        </div>
    </div>
</div>

</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>